@{
    ViewData["Title"] = "Chat in real time";
}

<h1>Bienvenidos al Chat.</h1>

    <div>
        <input id="userInput" placeholder="Tu nombre" type="text">
        <input id="msgInput" placeholder="Escribe tu mensaje" type="text">
        <button id="sendb" >Enviar</button>
    </div>

    <ul id="messages">
        <li> HOlaaaa</li>

    </ul>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.7/signalr.min.js"></script>

    <script  src="/js/chat.js"></script>
